.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.promo-selection{
  background-color: #bae5f1;
  padding: 1rem;
}
.main-nav{
  background-color: bisque;
  padding: 1.5rem;
}

.main-nav .link{
  display: inline;
  margin: 1rem;
  text-decoration: none;
}
.main-nav .link:hover{
  color: #61dafb;
  cursor: pointer;
}
.blog-post-intro{
  background-color: azure;
  padding: .5rem 1.5rem;
}
.copyright{
  background-color: aquamarine;
  padding: 2rem;
  text-align: center;
}
.line{
  background-color: red;
  height: 5px;
}
.flex-item{
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 1rem;
 margin: 1rem;
}
.App-light {
  background-color: #ffffff;
  color: #000000;
  transition: all 1s;
}

.App-dark {
  background-color: #000000;
  color: #ffffff;
  transition: all 1s;
}
button{
  cursor: pointer;
}
button:hover{
  color: #ffffff;
  background-color: #000000;
}
.card{
  width: 150px;
  min-height: 200px;
  border: 2px solid #999999;
  padding: 10px;
  background-color: #eeeeee;
  text-align: center;
}
.card img{
  border-radius: 50%;
}

.cardTwo{
  width: 150px;
  min-height: 200px;
  border: 2px solid #999999;
  padding: 10px;
  background-color: #eeeeee;
  text-align: center;
  margin-left: 20px;
}